.items-container {
    align-items: start;
    display: flex;
    overflow-x: scroll;
}

a {
    font-size: 15pt;
    text-decoration: none;
    transition: all 0.2s;
    user-select: none;
    margin-right: 25px;
    color: black;
    display: inline-block;
}

a:hover {
    text-decoration: none;
    font-size: 17pt;
    color: #1f77cf;
}

.link-selected {
    color: #1f77cf;
}