ul {
    list-style-type: none;
}

li {
    font-size: 15pt;
    text-decoration: none;
    transition: all 0.2s;
    user-select: none;
    cursor: pointer;
}

li:hover {
    text-decoration: none;
    font-size: 17pt;
    color: var(--bs-primary);
    margin-left: 10px;
}

.link-selected {
    color: var(--bs-primary);
    margin-left: 10px;
}